certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
faunadb==4.1.1
Flask==2.0.2
future==0.18.2
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==3.3
iso8601==1.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
requests==2.27.1
urllib3==1.26.8
Werkzeug==2.0.2
